.flavor-text {
    div.degree-of-success {
        .criticalSuccess {
            color: $degree-success-critical;
        }
        .success {
            color: $degree-success;
        }
        .failure {
            color: $degree-failure;
        }
        .criticalFailure {
            color: $degree-failure-critical;
        }
    }
}
