#chat-log {
    display: flex;
    flex-direction: column;

    > .message {
        &:first-child {
            margin-top: auto;
        }
    }
}

@import "action", "conditions", "damage", "reroll", "checks";
