<div class="sidebar_title">
    <h2>{{localize 'PF2E.PerceptionHeader'}}</h2>
    <h2 class="hover" data-tooltip-content="#{{options.id}}-perception-modifiers">
        <i class="fas fa-eye"></i> {{localize 'PF2E.ModifiersTitle'}}
    </h2>
</div>
<div class="roll-data perception-sidebar" data-attribute="perception">
    <a class="roll-icon attribute-name">
        {{> systems/pf2e/templates/actors/character/icons/d20.html}}
    </a>

    <a class="roll-icon attribute-name" data-secret="true">
        <i class="fas fa-eye-slash"></i>
    </a>
    <h3>{{numberFormat data.attributes.perception.value decimals=0 sign=true}}</h3>

    <div class="perception-prof button-group skill-container">
        <select class="perception-proficiency pf-value pf-rank adjust-stat-select{{#if rank.immutable}} readonly{{/if}}" data-property="data.attributes.perception.rank" value="{{data.attributes.perception.rank}}">
            {{> systems/pf2e/templates/actors/character/partials/proficiencylevels-dropdown.html proflevel=data.attributes.perception.rank}}
        </select>
    </div>

</div>
{{#with data.attributes.perception}}
    {{> systems/pf2e/templates/actors/character/partials/modifiers-tooltip.html title="PF2E.PerceptionHeader" }}
{{/with}}
