.armor-class {
    display: grid;
    grid:
        'ac shield-hp shield-footer' 74px
        'shield-data shield-data shield-data' auto
        / 66px 59px auto;
    grid-column-gap: 4px;

    .shield {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 74px;
        text-align: center;
        padding: 0 5px;
        h4,
        label {
            font-family: var(--serif);
            font-weight: 500;
            white-space: normal;
        }
        .data-value {
            h2,
            input[type='number'] {
                font-size: 32px;
                line-height: 24px;
                height: 26px;
                width: 55px;
            }
        }
        label {
            font-size: 10px;
        }
        &.ac {
            grid-area: ac;
            color: var(--sidebar-label);
            background: url('../assets/sheet/shield-blue.webp') no-repeat center
                center;
        }
        &.hp {
            grid-area: shield-hp;
            background: url('../assets/sheet/shield-red.webp') no-repeat top
                center;
            .data-value:hover {
                input[type='number'] {
                    @include input-glow;
                }
            }
        }
    }
    .shield-stats {
        grid-area: shield-data;
        ol {
            margin-top: 4px;
            flex-direction: row;
            height: 100%;
            padding: 0 4px;
            justify-content: space-evenly;
            li {
                justify-content: center;
                font-size: 0;

                & + li {
                    margin-left: 8px;
                }
                .shield-label {
                    position: relative;
                    svg {
                        border: none;
                        width: auto;
                        height: 20px;
                    }
                    &:after {
                        display: inline-block;
                        position: absolute;
                        @include micro;
                        color: var(--primary);
                        top: 0;
                        left: 1px;
                        line-height: 1.5;
                    }
                    &.ac:after {
                        content: 'AC';
                        top: 3px;
                        left: 3px;
                    }
                    &.hardness:after {
                        left: 5px;
                        top: 3px;
                        content: 'H';
                    }
                    &.bt:after {
                        top: 3px;
                        left: 3.5px;
                        content: 'BT';
                    }
                }
                .data-value {
                    flex: 1;
                    @include input-border;
                    padding-left: 4px;
                    margin-left: -8px;
                    height: 20px;
                    input[type='number'] {
                        font-size: 14px;
                        font-weight: 400;
                        padding-top: 2px;
                        height: 14px;
                    }
                }
            }
        }
    }
    .armor_footer {
        grid-area: shield-footer;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        width: calc(100% - 6px);
        .shield-max {
            display: flex;
            flex-direction: column;
            @include flex-center;
            label {
                white-space: normal;
                text-align: center;
                margin-bottom: 4px;
            }
        }
        .shield-status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--tertiary-light);
            margin-top: 4px;
        }
    }
}
